header {
    width: 1440px;
    height: 768px;
    background: url('img/bg.png') no-repeat;
    background-size: cover;
    color: white;
}

.about {
    display: flex;
    flex-direction: row;
}

.about__images {
    display: flex;
    flex-direction: row;
}

.about__images-image {
    margin-right: 20px;
}

.get-in-touch {
    width: 1440px;
    height: 499px;
    background: url('img/bg\ \(1\).png');
}

.services__cards {
    display: flex;
    flex-direction: row;
}

.services__cards-card {
    width: 295px;
    height: 300px;
    border: solid 1px rgba(196, 196, 196, 0.5);
    margin-right: 20px;
}

.card-icon {
    margin-top: 40px;
    margin-left: 20px;
}

.card-text {
    margin-top: 20px;
    margin-left: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__links a {
    margin-right: 20px;
}

footer {
    background: black;
    color: white;
}


.about__images-image p {
    position: absolute;
    color: white;
    font-size: 24px;
}